#footer {
    width: 100%;
    background: #000  ;
    bottom: 0;
    color: #EEE;
 padding: 0 20px;
 position: fixed;
 padding-bottom: 10px;
}

#footer #width {
    font-size: .9rem;
    padding-top: 27px;
       display: flex;
    justify-content: space-between;
}

#footer #width  a{
    text-decoration: none;
    padding: 10px 5px;
    color: #57b5ec;
}
.grey{
    padding: 0 5px;
}

@media only screen and (max-width: 768px) {

    #footer #width {
    flex-direction: column;
    }


}


